<section id="apropos" class="spacer">
    <div class="container">
        <div class="row gutters">
            <div class="col-sm-12 col-md-4 pt-4 ">
                <div class="profile-img">
                    <img src="{{ asset("/images/NiangPro1.png") }}" alt="" />
                </div>
                <h2 class="pt-3">Bassirou Niang</h2>
                <h5>Développeur Web et Mobile</h5>
            </div>
            <div class="col-md-7 pb-5 pt-3 ml-auto">
                <h1><i class="ion-information-circled"></i> A propos</h1>
                <p>
                    Je m'appelle Bassirou Niang originaire de la région de Diourbel, je
                    vis actuellement à Camberène 2. Je suis en fin de formation avec
                    ACCESS CODE SCHOOL à ESTEL afin d'obtenir le titre de spécialiste
                    développeur Web et Mobile. J'ai obtenu mon BAC S<sub>2</sub> en 2016
                    par la suite j'ai suivi la formation de Génie logiciel à ISI (Institut
                    Supérieur d'Informatique) que j'ai parvenu à obtenir trois diplômes
                    (BTS informatique de gestion et DTS génie logiciel) en 2018 et Licence
                    Professionnelle Génie Logiciel en 2019 .
                </p>
                <p>
                    J'ai enchaîné les expériences chez Devpro(un groupe de travail fondé
                    sur la création de site web) et des projets personnels... qui m'ont
                    permis d'acquérir
                    <b>l'esprit de groupe, l'autonomie ainsi que la persévérance pour
                        atteindre mes objectifs.</b>
                    Passionné depuis toujours par l'informatique.
                </p>
                <p>
                    A la fois intéressé par le <b>développement back-end et front-end</b>,
                    je peux vous accompagner sur toutes les étapes de la réalisation de
                    vos projets web: analyse de vos besoins et conceptualisation,
                    conception et développement sur mesure des fonctionnalités, suivi et
                    maintenance de vos outils.
                </p>
                <a href="{{ asset("/docs/CV-Bassirou-Niang.zip") }}" class="p-2 btn-maron run"><i
                        class="ion-ios-cloud-download"></i> Téléchargez mon CV</a>
            </div>
        </div>
    </div>
</section>