<section id="footer">
  <div class="container-fluid">
    <div class="container">
      <div class="row pt-3 pb-4">
        <div class="col-md-6">
          <a href="mailto:NiangProgrammeur@gmail.com" target="_blank"><i class="ion-ios-email-outline"></i>
            NiangProgrammeur@gmail.com</a>
        </div>
        <div class="col-md-4">
          <i class="ion-social-whatsapp" style="color: rgb(10, 250, 10)"></i>
          78 312 36 57
        </div>
        <div class="col-md-2 ml-auto">&copy; 2020</div>
      </div>
    </div>
  </div>
</section>