<section id="formation" class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="text-center"><i class="ion-university"></i> Formation</h3>
        <ul class="timeline">
          <li>
            <h5>
              <span>2019 -2020</span> : Certificat de Spécialité développeur Web
              et Mobile
            </h5>
            <p>
              <b><i class="ion-asterisk"></i> Etablissement:</b> Estel <br />
              <b><i class="ion-asterisk"></i> Durée:</b> 6 mois <br />
              <b><i class="ion-asterisk"></i> Situe:</b> Point E <br />
            </p>
          </li>
          <li>
            <h5><span>2016 -2019</span> : Génie logiciel</h5>
            <p>
              <b><i class="ion-asterisk"></i> Etablissement:</b> ISI <br />
              <b><i class="ion-asterisk"></i> Durée:</b> 3 ans <br />
              <b><i class="ion-asterisk"></i> Situe:</b> Keur Massar <br />
            </p>
          </li>
          <li>
            <h5><span>2013 -2016</span> : Fin cycle secondaire</h5>
            <p>
              <b><i class="ion-asterisk"></i> Etablissement:</b> Lycée Seydina
              Limamou Laye <br />
              <b><i class="ion-asterisk"></i> Durée:</b> 3 ans <br />
              <b> <i class="ion-asterisk"></i> Situe:</b> Guediawaye <br />
            </p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3 class="text-center">
          <i class="ion-ios-analytics"></i> Réalisation
        </h3>
        <ul class="timeline">
          <li>
            <h5>
              <span></span>Application Bibliothèque
              <a
                class="ml-auto btn btn-outline-black btn-sm rounded"
                type="button"
                data-toggle="modal"
                data-target="#biblio"
                >Aperçu</a
              >
            </h5>
            <p class="feeling">
              Symfony, Bootstrap, Mdbootstrap
            </p>
          </li>
          <li>
            <h5>
              <span></span>Application Covid-19
              <a
                class="ml-auto btn btn-outline-black btn-sm rounded"
                type="button"
                data-toggle="modal"
                data-target="#covid"
                >Aperçu</a
              >
            </h5>
            <p class="feeling">
              Angular, Bootstrap
            </p>
          </li>
          <li>
            <h5>
              <span></span>Application Grossiste
              <a
                class="ml-auto btn btn-outline-black btn-sm rounded"
                type="button"
                data-toggle="modal"
                data-target="#grossiste"
                >Aperçu</a
              >
            </h5>
            <p class="feeling">
              Symfony, Bootstrap, Mdbootstrap, Select2
            </p>
          </li>
          <li>
            <h5>
              <span></span>Application Réseau éducatif
              <a
                class="ml-auto btn btn-outline-black btn-sm rounded"
                type="button"
                data-toggle="modal"
                data-target="#educatif"
                >Aperçu</a
              >
            </h5>
            <p class="feeling">
              Php, Jquery, Ajax, Parsleyjs, Prettifyjs
            </p>
          </li>
          <li>
            <h5>
              <span></span>Portfolio
              <a
                class="ml-auto btn btn-outline-black btn-sm rounded"
                type="button"
                data-toggle="modal"
                data-target="#portfolio"
                >Aperçu</a
              >
            </h5>
            <p class="feeling">
              Symfony, Bootstrap, Mdbootstrap, Typedjs, Isotope
            </p>
          </li>
          <li>
            <h5>
              <span></span>Application Générateur de mémes
              <a
                class="ml-auto btn btn-outline-black btn-sm rounded"
                type="button"
                data-toggle="modal"
                data-target="#meme"
                >Aperçu</a
              >
            </h5>
            <p class="feeling">
              Php, Jquery, Bootstrap, Mdbootstrap
            </p>
          </li>
          <li>
            <h5>
              <span></span>Application Annuaire de film
              <a
                class="ml-auto btn btn-outline-black btn-sm rounded"
                type="button"
                data-toggle="modal"
                data-target="#film"
                >Aperçu</a
              >
            </h5>
            <p class="feeling">
              Php, Twig, Bootstrap, Mdbootstrap
            </p>
          </li>
          <li>
            <h5>
              <span></span>Application Space Invader
              <a
                class="ml-auto btn btn-outline-black btn-sm rounded"
                type="button"
                data-toggle="modal"
                data-target="#invader"
                >Aperçu</a
              >
            </h5>
            <p class="feeling">
              Html, Css, Javascript
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
