<nav class="navbar sticky-top navbar-expand-lg navbar-light">
  <a href="#" class="navbar-brand mr-auto"
    ><img src="/images/logo.jpg" alt="" class="img-logo"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto text-center">
      <li class="nav-item active" id="li-apropos">
        <a href="#about" class="nav-link"> Propos</a>
      </li>
      <li class="nav-item">
        <a href="#diplomes" class="nav-link" id="li-skill">Diplômes</a>
      </li>
      <li class="nav-item">
        <a href="#skill" class="nav-link">Compétences</a>
      </li>
      <li class="nav-item">
        <a href="#formation" class="nav-link">Formation</a>
      </li>
      <li class="nav-item">
        <a href="#university" class="nav-link">Etablissements</a>
      </li>
      <li class="nav-item">
        <a href="#contact" class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>
