<section class="container-fluid pt-4" id="university">
  <div class="container">
    <h2 class="text-center pb-3 pt-3">Etablissements</h2>
    <!-- Carousel -->
    <div id="carouselExample" class="carousel slide" data-ride="carousel">
      <div class="row">
        <div class="col-md-12">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row pb-5">
                <div class="col-md-4">
                  <img class="d-block w-100" src="{{
                    asset("/images/access_code_school.png")
                  }}" alt="First slide" height="300" />
                </div>
                <!-- End of Col-md-4 -->
                <div class="col-md-8">
                  <h2>ESTEL / ACCESS CODE SCHOOL</h2>
                  <p>
                    Onlineformapro poursuit son engagement en ouvrant une
                    nouvelle Access Code School à Dakar avec notre partenaire
                    historique Groupe Estel.
                  </p>
                  <p>
                    Basée sur un tronc commun au cours des 2 premiers mois, le
                    stagiaire a ensuite la possibilité de se spécialiser
                    jusqu’au 6ème mois afin de devenir Développeur Front-End ou
                    Développeur Back-End en fonction de ses goûts et de ses
                    compétences.
                  </p>
                </div>
                <!-- End of Col-md-8 -->
              </div>
              <!-- End of Row -->
            </div>
            <!-- End of Carousel Item 1 -->
            <div class="carousel-item">
              <div class="row pb-5">
                <div class="col-md-4">
                  <img class="d-block w-100" src="{{
                    asset("/images/isikeurmassar.png")
                  }}" alt="Second slide" height="300" />
                </div>
                <!-- End of Col-md-4 -->
                <div class="col-md-8">
                  <h2>Institut Supérieur D'Informatique</h2>
                  <p>
                    Il a été fondé en 1988 sous le nom de JET INFORMATIQUE par
                    des étudiants de l'université Cheikh ANTA DIOP de Dakar en
                    collaboration avec ceux de l'université Laval au Québec
                    Canada.
                  </p>
                  <p>
                    ISI est un institut délocalisé en Afrique et à l'intérieur
                    du Sénégal. Il offre un ensemble d'écoles et de centres.
                  </p>
                </div>
                <!-- End of Col-md-8 -->
              </div>
              <!-- End of Row -->
            </div>
            <!-- End of Carousel Item 2 -->
            <div class="carousel-item">
              <div class="row pb-5">
                <div class="col-md-4">
                  <img class="d-block w-100" src="{{
                    asset("/images/lssl.jpg")
                  }}" alt="Third slide" height="300" />
                </div>
                <!-- End of Col-md-4 -->
                <div class="col-md-8">
                  <h2>Lycée Seydina Limamou Laye</h2>
                  <p>
                    Baptisé à l’occasion de son inauguration le 7 juin 1979 par
                    Abdou Diouf, Premier Ministre <br />du Sénégal et le Khalife
                    Général des Layènes, conformément au décret numéro 79.516 du
                    <br />7 juin 1979, il s’appellera désormais Lycée Seydina
                    Limamou Laye.
                  </p>
                  <p>
                    Etablissement public d’enseignement secondaire général,
                    technique et de Formation
                    <br />professionnelle, le lycée Seydina Limamou Laye, depuis
                    sa création, s’est toujours <br />distingué sur le plan des
                    résultats aussi bien au baccalauréat qu’au Concours général.
                  </p>
                </div>
                <!-- End of Col-md-8 -->
              </div>
              <!-- End of Row -->
            </div>
            <!-- End of Carousel Item 3 -->
          </div>
          <!-- End of Carousel Inner -->
        </div>
        <!-- End of Col-md-12 -->

        <div class="col-md-12 pt-4">
          <ol class="carousel-indicators">
            <li
              data-target="#carouselExample"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselExample" data-slide-to="1"></li>
            <li data-target="#carouselExample" data-slide-to="2"></li>
          </ol>
          <!-- End of Carousel Indicators -->
        </div>
        <!-- End of Col-md-12 -->
      </div>
      <!-- End of Row -->
    </div>
    <!-- End of carouselExample-->
  </div>
</section>
